:root {
  --color-background-selection: oklch(88.13% 0.176 93.53 / 99%);
  --color-content-selection: oklch(18% 0.015 108);

  --color-background-brand: oklch(88.13% 0.176 93.53);
  --color-background-brand-hover: oklch(83.13% 0.176 93.53);
  --color-background-primary: oklch(18% 0.015 108);
  --color-background-secondary: oklch(21% 0.015 108);
  --color-background-tertiary: oklch(17% 0.015 108);
  --color-background-code: var(--color-background-tertiary);
  --color-background-inverse: oklch(90% 0.015 108);
  --color-background-inverse-hover: oklch(85% 0.015 108);

  --color-content-brand: oklch(88.13% 0.176 93.53);
  --color-content-primary: oklch(90% 0.015 108);
  --color-content-secondary: oklch(80% 0.015 108);
  --color-content-inverse: oklch(18% 0.015 108);
  --color-content-success: oklch(88.13% 0.176 140);
  --color-content-error: oklch(88.13% 0.176 10);

  --color-border-brand: oklch(88.13% 0.176 93.53);
  --color-border-primary: oklch(24% 0.015 108);
  --color-border-secondary: oklch(30% 0.015 108);
  --color-border-tertiary: oklch(44% 0.015 108);
}
